{{#paper-button raised=true primary=true}}
    {{#link-to "new" tagName="div"}}Create new{{/link-to}}
{{/paper-button}}

{{#paper-list}}
    {{#paper-subheader}}{{model.length}} Blog Posts{{/paper-subheader}}

    {{#each model as |post index|}}
        {{#paper-item class="md-3-line"}}
            <div class="md-list-item-text">
                {{#link-to 'post' post}}{{post.title}}{{/link-to}}
            </div>
        {{/paper-item}}
    {{/each}}

    {{paper-divider}}
{{/paper-list}}

{{outlet}}
