<div class="layout-row flex">
  <div class="flex post-image">
      <img src={{model.image}} alt="">
  </div>
  <div class="flex">
    <h1>Title</h1>
    <h3>{{model.title}}</h3>

    <h1>Description</h1>
    <h3>{{model.description}}</h3>
    
    {{#link-to 'index' tagName="div"}}
        {{#paper-button raised=true}}
            Back to Posts
        {{/paper-button}}
    {{/link-to}}
  </div>
</div>


{{outlet}}